class Comment extends React.Component {

  render () {



      return(

         <p key={comment.id} className="list-group-item list-group-item-action">
            <div className="row">
                    <div className="col-2">


                     </div>
                      <div className="col-4">
                            <h4>{comment.body}</h4>
                            <h5>{comment.created_at}</h5>
                      </div>
             </div>
          </p>
    )
  }
}

